@model IEnumerable<StarSecurityService.Models.Employee>

@foreach (var item in Model)
{
    <div><a href="@Url.Action("EmployeeDetails", "Admin", new { id = item.id })">@Html.DisplayFor(modelItem => item.name)</a></div>
}
