@model IEnumerable<StarSecurityService.Models.Vacancy>

@{
    ViewBag.Title = "Recruitment";
    Layout = "~/Views/Shared/_Layoutmain.cshtml";
}


<div class="black-p">

    <p class="pp">Recruitment</p>
    <img src="~/Upload/JOB.jpg" style="width: 87%;
    height: 500px;
    margin-left: 104px;" alt="Alternate Text" />
</div>

<div class="container black-p" style="height:800px;">
    <div class="row" style="margin-left: 92px;margin-top:30px">
        <p>Join our team of security professionals.</p>
        <p>At Star Security, we’re proud of our team!  We’re always looking for great new team members to help us protect homes, workplaces, and communities and continue to impress our customers.</p>
        
        <table>
            <tr>
                <th>Quantity</th>
                <th>Job</th>
                <th>Position</th>
                <th>Deadline</th>
            </tr>
            @foreach (var item in Model)
            {
            <tr>
                <td>@item.quantity</td>
                <td>@item.job</td>
                <td>@item.position</td>
                <td>@item.deadline</td>
            </tr>
            }


        </table>

    </div>
</div>