
* {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
}

body {
    background-color: black;
}

.background {
    background-color: black !important;
    color: #fff !important;
}

.login-top a {
    color: #fff !important;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #000 !important;
}

.banner{
    border-top:solid 1px #fff;
    width:100%;
}

.banner1 {
    border: 1px solid transparent;
    width: 48.6% !important;
    height: 820px;
}

.font_4 {
    font: normal normal normal 72px/1.25em brandon-grot-w01-light,sans-serif;
    color: #000000;
}

.head-title {
    font-size: 90px;
    margin-top: 120px;
    text-align: center;
    line-height: 1.25em;
}

.banner2 {
    border: 1px solid transparent;
    width: 100%;
    height: 400px;
}

.banner3 {
    border: 1px solid transparent;
    width: 48.6% !important;
    height: 440px;
}

/*login*/
/*login-signupbutton*/




.login-top {
    cursor: pointer;
    font-size: 18px;
    white-space: nowrap;
    padding-left: 122px;
}

.email-input {
    margin-top: 17px;
}

.header-menu a {
    color: #fff !important;
    font-size:18px;
    
}

.des-box{
    border:1px solid #808080;
    width:300px;
    height:350px;
}

.banner4 {
    border-bottom: 1px solid #000;
    margin-top: 9px;
    margin-right: 30px;
    margin-left: 30px;
}

.black-p p {
    color: #000 !important;
}

.header-service {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
}

.body-service {
    text-align: justify;
    padding: 20px 10px 0 10px;
    line-height: 1.7;
}

.button-contact {
    margin-top: 310px;
    position: absolute;
}

.button-contact a {
    border: 1px solid transparent;
    background: whitesmoke;
    margin-left: 79px;
    text-decoration: unset !important;
    padding:10px 30px 10px 30px;
}

    .button-contact a:hover {
        background: gainsboro;
    }

.pp {
    padding-top: 200px;
    text-align: center;
    font-size: 30px;
}

.head-title-1 {
    padding-top: 20px;
    padding-left: 188px;
}

.text-danger {
    
    padding-left: 114px;
}



    .getintouch a {
        color: #fff !important;
        text-decoration: unset;
        border: 1px solid #fff;
        padding: 14px;
        border-radius: 25px;
    }

        .getintouch a:hover {
            background: #fff;
            color: #000 !important;
            text-decoration: unset;
        }

.black-p table {
    color: #000 !important;
    width: 90%;
    margin-left: 50px;
    margin-top:30px;
}

.black-p table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:10px !important;
}

.bannerx {
    border: 1px solid transparent;
    width: 50.6% !important;
    height: 440px;
}